<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([a-f0-9]{32})$ msg.php?id=$1 [L,QSA]
</IfModule>

<FilesMatch "^\.">
  Require all denied
</FilesMatch>

Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "\.(php|json)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate"
  </FilesMatch>
</IfModule>
